.matome-top
  .matome-header
    .header-innner
      .header-banner
        %h1 NAVER まとめ
      .header-navber
        %ul.header-links
          %ls.header-link
            %a まとめ作成
          %ls.header-link
            %a 会員登録 (無料)
          %ls.header-link
            %a ログイン
    .header-bottom
      .header-footer
        .fieldset
          .search-input
            .search-input-inner
          %span.search-button
            = f.input "submit", class: "send-button"
        %time.datetime=2017-01-05
          %em.today
          %span.week
        .sns-links
          %ul.sns-links
            %ls.sns-link
              %a
                %span Facebook
            %ls.sns-link
              %a
                %span twitter
            %ls.sns-link
              %a
                %span RSS
  .matome-main
  .matome-footer
    .footer-inner
      .footer-innner-inner
        .footer-innner-links
          %ul.footer-innner-links
            %ls.footer-inner-link
              %a 会社概要
            %ls.footer-inner-link
              %a 利用規約
            %ls.footer-inner-link
              %a プライバシー
            %ls.footer-inner-link
              %a ヘルプ
            %ls.footer-inner-link
              %a NAVERまとめ公式ブログ
          %p.copyright
            .small ©
              %b LINE Corporation

